.todo {
  margin: 50px auto 0;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 500px;
}

/* 투두 내 공통 */
button {
  display: block;
  width: 50px;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
  &:hover {
    opacity: 0.7;
  }
  &.addBtn {
    background-color: #ccc;
  }
  &.addBtn.on {
    background-color: #3366cc;
  }
  &.modifyBtn {
    background-color: #66cc99;
  }
  &.deleteBtn {
    background-color: #ff6666;
  }
  &.sendBtn {
    background-color: #9933cc;
  }
  &.cencleBtn {
    background-color: #666;
  }
}