.item {
  padding: 5px 0;
  font-size: 20px;
  line-height: 40px;
  border-bottom: 2px dashed #ccc;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  &:last-child {
    border: none;
  }

  label {
    float: left;
    display: block;
    width: 390px;
    font-weight: bold;
    cursor: pointer;
  }

  input[type='checkbox'] {
    float: left;
    width: 20px;
    height: 20px;
    margin: 10px 10px 0 0;
  }

  input[type='text'] {
    float: left;
    width: 360px;
    padding: 0 5px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    border: none;
    font-size: 20px;
    background-color: #ffffcc;
    outline: none;
  }
  .btnBox {
    float: right;
  }
  button {
    margin-left: 5px;
    float: left;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
