@charset "utf-8";
.login {
  .article {
    width: 500px;
    margin: 20px auto;
    background-color: beige;
    padding: 50px 0;
    .logo {
      font-size: 40px;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .inputBox {
      padding: 0 30px;
      input[type='text'],
      input[type='password'] {
        width: 100%;
        height: 40px;
        margin: 10px 0;

        &::placeholder {
          text-align: center;
        }
      }
      button[type='submit'] {
        width: 100%;
        height: 35px;
        margin: 20px 0;
        background-color: aqua;
        cursor: pointer;
        &:disabled {
          background-color: #ccc;
          cursor: default;
        }
      }
    }
    button[type='button'] {
      margin-left: 43%;
      cursor: pointer;
    }
  }
}
